<!-- <popup (confirmClick)="addnote()">
<form class="form-horizontal">
    <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="note.title" id="title" placeholder="Enter Title">
    </div>
     <div class="form-group">
       <label for="description">Description</label>
            <textarea rows="3" class="form-control" id="description" name="description" [(ngModel)]="note.description" placeholder="Add Description"></textarea>
    </div>
</form>
</popup> -->
<button class="btn btn-primary" (click)="shownoteform()">Add Note</button>
<div class="container">
	<div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table  class="table table-bordred table-striped">
              <thead>
                  <th class="col-md-1">ID</th>
                  <th class="col-md-3">Title</th>
                  <th class="col-md-7">Description</th>
                  <th class="col-md-1">Edit</th>
                  <th class="col-md-1">Delete</th>
              </thead>
       <tbody>
             <tr *ngFor="let note of allnotes; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{note.title}}</td>
                    <td>{{note.description}}</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
            </tr>
      </tbody>
</table>
      </div>
    </div>
  </div>
</div>
